* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #666;
    display: flex;
    justify-content: center;
}

#flex-container {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.flex-item {
    display: flex;
    flex-direction: column;
    width: 17vw;
    margin: 15px;
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.city-img img {
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0px 0px;
}

.city-text {
    margin: 15px 15px 0 15px;
    border-bottom: 1px solid #ddd;
}

.city-text h1 {
    font-size: 17px;
    color: #333;
}

.city-text h2 {
    font-size: 14px;
    margin-top: 7px;
    color: rgb(255, 71, 71);
}

.city-text p {
    margin: 10px 0;
    font-size: 12px;
}

.city-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

.city-bt {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: rgb(255, 94, 94);
    color: white;
    font-size: 12px;
    padding: 10px;
}

.wrapper {
    display: flex;
    flex-flow: column;
    width: 40%;

}

.wrapper-text {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.wrapper-text img {
    width: 10px;
    height: 10px;
    margin: 5px;
}

.wrapper-text p {
    font-size: 12px;
}

@media screen and (max-width: 1500px) {
    .flex-item {
        width: 20vw;
    }

}

@media screen and (max-width: 1200px) {
    .flex-item {
        width: 25vw;
    }

}

@media screen and (max-width: 900px) {
    .flex-item {
        width: 40vw;
    }

}

@media screen and (max-width: 640px) {
    .flex-container {
        flex-direction: column;
    }

    .flex-item {
        width: auto;
    }


}